# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\BBW\Berufsschule\4. Lehrjahr\Module\1. Semester\150 E-Business Applikation anpassen\dockerProjekt\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
